b.body {
    background-image: url('CarParking2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

a.body .b {
    background-image: url('Car1.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

a.h1 {
    color: red;
}

.a {
    text-align: center;
    width: 100%;
}

.a {
    background-color: #4CAF50;
    color: white;
}

.a {
    color: yellow;
}
}
